body {
  font: 15px "Century Gothic", Futura, sans-serif;
  margin: 0px;
  /* border: 0.5px solid #333; */
  width: 375px;
  height: 559px;
  background-color: #f7f7f7;
}


::placeholder {
  color: #d8d8d8;
  /* padding-left: 14px; */
}

label {
  margin-left: 14px;
  color: #979797;
}

.plaintext {
  height: 46px;
  width: 375px;
  background-color: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  padding-left: 14px;
  display: table-cell;
  vertical-align: middle;
  border-color: #d8d8d8;
  font: 15px "Century Gothic", Futura, sans-serif;
}

.inputbox {
  height: 46px;
  width: 375px;
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  margin-top: 3px;
  padding-left: 14px;
  border-color: #d8d8d8;
  font: 15px "Century Gothic", Futura, sans-serif;
}

.element {
  margin-top: 25px;
}

.calendar {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  border-width: 0px;
}

.bottom {
  width: 375px;
  height: 60px;
  background: #FFFFFF;
  border-left: 0px;
  border-right: 0px;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  border-color: #d8d8d8;
}

a {
  background-color: #FFFFFF;
  display:block;
  width: 375px;
  height: 46px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  padding-left: 14px;
  padding-top: 10px;
  border-color: #d8d8d8;
  font: 15px "Century Gothic", Futura, sans-serif;
}

.name {
  height: 46px;
  width: 375px;
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  margin-top: 0px;
  padding-left: 50px;
  border-color: #d8d8d8;
  font: 15px "Century Gothic", Futura, sans-serif;
}

.add_icon {
  position: absolute;
  left:0px;
  top:6px;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-right: 0px;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  border-color: #fff;
}

*:focus {
    outline: none;
}
