@import url("https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/2.8.0/react-datepicker.css");

.react-datepicker__input-container input {
   /* width: 375px;
   height: 46px; */
   width: 100vw;
  height: 8vh;
   border-left: 0px;
   border-right: 0px;
   border-top: 0.5px solid;
   border-bottom: 0.5px solid;
   border-color: #d8d8d8;
   margin-top: -0.5px;
   margin-bottom:  -0.5px;
   font: 15px "Century Gothic", Futura, sans-serif;
   padding-left: 14px;
}
