body {
  font: 15px "Century Gothic", Futura, sans-serif;
  margin: 0px;
  /* border: 0.5px solid #333; */
  /* width: 375px;
  height: 559px; */
  width: 100vw;
  height: 100vh;
  background-color: #f7f7f7;
}


::placeholder {
  color: #d8d8d8;
  /* padding-left: 14px; */
}

.key {
  margin-left: 14px;
  color: #979797;
}

.plaintext {
  /* height: 46px;
  width: 375px; */
  width: 100vw;
  height: 8vh;
  background-color: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  padding-left: 14px;
  display: flex;
  align-items: center;
  border-color: #d8d8d8;
  font: 15px "Century Gothic", Futura, sans-serif;
}

.inputbox {
  /* height: 46px;
  width: 375px; */
  width: 100vw;
  height: 8vh;
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 14px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  /* margin-top: 0px; */
  border-color: #d8d8d8;
  font: 15px "Century Gothic", Futura, sans-serif;
  display: flex;
  align-items: center;
}

.element {
  margin-top: 25px;
}

.option {
  /* width: 375px;
  height: 46px; */
  width: 100vw;
  height: 8vh;
  padding-left: 14px;
  position: relative;
  background: #FFFFFF;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  border-color: #d8d8d8;
  margin-bottom:  -0.5px;
  display: flex;
  align-items: center;
}

.bottom {
  /* width: 375px;
  height: 60px; */
  width: 100vw;
  height: 11vh;
  background: #FFFFFF;
  border-left: 0px;
  border-right: 0px;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  border-color: #d8d8d8;
}

.result {
  /* width: 375px;
  height: auto; */
  width: 100vw;
  height: 8vh;
  background: #FFFFFF;
  padding-left: 14px;
  border-bottom: 0.5px solid;
  border-color: #d8d8d8;
}

a {
  background-color: #FFFFFF;
  display:block;
  /* width: 375px;
  height: 46px; */
  width: 100vw;
  height: 8vh;
  padding-top: 0px;
  padding-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  padding-left: 14px;
  padding-top: 10px;
  border-color: #d8d8d8;
  font: 15px "Century Gothic", Futura, sans-serif;
}

.name {
  /* height: 46px;
  width: 375px; */
  width: 100vw;
  height: 8vh;
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  margin-top: 0px;
  padding-left: 50px;
  border-color: #d8d8d8;
  font: 15px "Century Gothic", Futura, sans-serif;
}

*:focus {
    outline: none;
}