body {
  font: 15px "Century Gothic", Futura, sans-serif;
  margin: 0px;
  /* border: 0.5px solid #333; */
  /* width: 375px;
  height: 559px; */
  width: 100vw;
  height: 100vh;
  background-color: #f7f7f7;
}


::placeholder {
  color: #d8d8d8;
  /* padding-left: 14px; */
}

.key {
  margin-left: 14px;
  color: #979797;
}

.plaintext {
  height: 46px;
  width: 100vw;
  background-color: #ffffff;
  /* padding-top: 0px;
  padding-bottom: 0px;
  border-left: 0px;
  border-right: 0px; */
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  padding-left: 14px;
  display: flex;
  align-items: center;
  border-color: #d8d8d8;
  font: 15px "Century Gothic", Futura, sans-serif;
}

.inputbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 46px;
  width: 100vw;
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 14px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  /* margin-top: 0px; */
  border-color: #d8d8d8;
  font: 15px "Century Gothic", Futura, sans-serif;
  display: flex;
  align-items: center;
  
  /* box-shadow: none !important; */
  /* border-style: none none none none; */
}

.element {
  margin-top: 25px;
}

.toggle {
  position: relative;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.option {
  height: 46px;
  width: 100vw;
  padding-left: 14px;
  position: relative;
  background: #FFFFFF;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  border-color: #d8d8d8;
  margin-bottom:  -0.5px;
  display: flex;
  align-items: center;
}

.link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75vw;
  color: #0084ff;
  padding-left: 14px;
}

.bottom {
  height: 60px;
  width: 100vw;
  background: #FFFFFF;
  border-left: 0px;
  border-right: 0px;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  border-color: #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  width: 100vw;
  height: auto;
  background: #FFFFFF;
  padding-left: 14px;
  border-bottom: 0.5px solid;
  border-color: #d8d8d8;
}
/* 
a {
  background-color: #FFFFFF;
  display:block;
  height: 46px;
  width: 100vw;
  padding-top: 0px;
  padding-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  padding-left: 14px;
  padding-top: 10px;
  border-color: #d8d8d8;
  font: 15px "Century Gothic", Futura, sans-serif;
} */

.name {
  height: 46px;
  width: 100vw;
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  margin-top: 0px;
  padding-left: 50px;
  border-color: #d8d8d8;
  font: 15px "Century Gothic", Futura, sans-serif;
}

*:focus {
    outline: none;
}