<!DOCTYPE html>
<html>
  <head>
    <title>Dining Helper</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId: '541846993263590',
          xfbml: true,
          version: 'v2.6'
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'Messenger'));
    </script>
    <div id="root"></div>
    <%= listId %>
    <script src="/bundle.js"></script>
  </body>
</html>